@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before, *::after {
  padding: 0;
  margin: 0;
}
:root {
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515C6F;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0,0,0,0.15);
  --lightgreen: #1d8856;
  --black: #000;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(var(--lightgreen) 0%, var(--black) 100%);
  background-image: url(images/background.jpg);
  background-size: cover;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.main_box {
  width: 800px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background: var(--black);
  box-shadow: 0px 6px 15px var(--lightbshadow);
  z-index: 1;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
}

.content {
  display: flex;
  align-items: center;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
}

.top-row i {
  font-size: 30px;
  color: var(--white);
}

.top-row span {
  font-size: 18px;
  color: var(--white);
}

.img-area {
  flex: 0 0 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
  margin-right: 20px;
}

.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-area {
  flex: 1;
}

.control_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song_details {
  text-align: left;
  margin-bottom: 20px;
}

.song_details p {
  color: var(--white);
}

.song_details .name {
  font-size: 21px;
}

.song_details .artist {
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
}

.progress_box {
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}

.progress_box .progress_bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--lightgreen) 0%, var(--lightblack) 100%);
}

.progress_bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}

.progress_box:hover .progress_bar::before {
  opacity: 1;
  pointer-events: auto;
}

.progress_box .song_timer {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

.song_timer span {
  font-size: 13px;
  color: var(--lightblack);
}

.buttons {
  margin: 20px 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons i {
  font-size: 28px;
  user-select: none;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons i:nth-child(2),
.buttons i:nth-child(4) {
  font-size: 43px;
}

.buttons #previous {
  margin-right: 13px;
}

.buttons #next {
  margin-left: 13px;
}

.buttons .play_pause {
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--pink);
}

.additional-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.additional-buttons i {
  font-size: 28px;
  user-select: none;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 10px;
}

.play_pause::before {
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(var(--lightgreen) 0%, var(--black) 100%);
}

.play_pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.music-list {
  position: absolute;
  background: linear-gradient(var(--lightgreen) 0%, var(--black) 100%);
  width: 100%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.1);
  transition: all 0.15s ease-out;
}

.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.music-list ul {
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}

.music-list ul::-webkit-scrollbar {
  width: 0px;
}

.music-list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: white;
  border-bottom: 1px solid #E5E5E5;
}

.music-list ul li:last-child {
  border-bottom: 0px;
}

.music-list ul li .row {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  width: 100%; 
}

.music-list ul li .row span {
  font-size: 17px;
  margin-bottom: 5px;
}

.music-list ul li .row p {
  opacity: 0.9;
  margin: 0; 
}

ul li .audio-duration {
  font-size: 16px;
  margin-left: auto; 
}

ul li.playing {
  pointer-events: none;
  color: var(--violet);
}
